.selector-accesorios {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow-x: auto; /* Para mobile */
}

.selector-accesorios table {
  width: 100%;
  border-collapse: collapse;
}

.selector-accesorios th,
.selector-accesorios td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.selector-accesorios th {
  background-color: #f2f2f2;
}

.selector-accesorios input {
  width: 50px;
  text-align: center;
}
